.fl{float:left }
.fr{float:right}

/*清除浮动*/
.clearfix:after { content: ''; display: block; height: 0; clear: both; }
.clearfix { *zoom:1;}
.left-arrow{
  display: inline-block;
  border: 1px solid;
  border-bottom: none;
  border-right: none;
  width: 10px;
  height: 10px;
  transform: rotate(-45deg);
}
.right-arrow{
  display: inline-block;
  border: 1px solid;
  border-bottom: none;
  border-right: none;
  width: 10px;
  height: 10px;
  transform: rotate(135deg);
}
.test{
  background: url("./assets/img/label.png");
  width: 20px;
  height: 20px;
}

@font-face {
  font-family: 'iconfont';  /* project id 299960 */
  src: url('//at.alicdn.com/t/font_mtoeu4a6q6geewmi.eot');
  src: url('//at.alicdn.com/t/font_mtoeu4a6q6geewmi.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_mtoeu4a6q6geewmi.woff') format('woff'),
  url('//at.alicdn.com/t/font_mtoeu4a6q6geewmi.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_mtoeu4a6q6geewmi.svg#iconfont') format('svg');
}
.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-font{
  font-size: 24px;
}
.icon-normal-color{
  color: rgb(123,122,127);
}
.icon-active-color{
  color: #1aac19;
}
@keyframes right-swiper{
  30%{
    transform: translateX(20px);
  }
  60%{
    transform: translateX(-10px);
  }
  100%{
    transform: translateX(0);
  }
}
.animate-right-swiper{
  animation:right-swiper 0.8s ease-in;
}

