.fl{float:left }
.fr{float:right}

/*清除浮动*/
.clearfix:after { content: ''; display: block; height: 0; clear: both; }
.clearfix { *zoom:1;}
.left-arrow{
  display: inline-block;
  border: 1px solid;
  border-bottom: none;
  border-right: none;
  width: 10px;
  height: 10px;
  transform: rotate(-45deg);
}

